<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup Page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card mt-4">
                    <h1 class="text-center">Register Here!</h1>
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                        <p th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>
                    <form action="" th:action="@{/do_register}" method="post" th:object="${user}" autocomplete="off">
                        <div class="form-group">
                            <label for="fieldName">Name</label>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}" id="fieldName" name="name" placeholder="Enter Name" required th:value="${user.name}">
                            <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fieldEmail">Email</label>
                            <input type="email" class="form-control" id="fieldEmail" name="email" placeholder="Enter Email" required th:value="${user.email}">
                        </div>
                        <div class="form-group">
                            <label for="fieldPassword">Password</label>
                            <input type="password" class="form-control" id="fieldPassword" name="password" placeholder="Enter Password" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="fieldAbout" name="about" rows="10" placeholder="About Yourself" th:text="${user.about}"></textarea>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="agreement" name="agreement">
                            <label for="agreement">Accept terms and conditions</label>
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn bg-primary text-white">Submit</button>
                            <button type="reset" class="btn btn-danger text-white">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>